---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title = "Resume">
  <div class="mb-5">
    <div>
      <div class="text-3xl w-full font-bold mb-2 bg-[#55D687] text-white p-2">Profile</div>
  </div>
  </div>

  <div class="mb-10 text-justify">
    Experienced Software Engineer, full-stack but frontend heavy with 4 years of experience building and shipping scalable web applications using tools such as Reactjs, Nextjs, Typescript, NodeJS and MongoDB.
  </div>

  <div class="mb-5">

    <div>
      <div class="text-3xl w-full font-bold mb-2 bg-[#55D687] text-white p-2">Education</div>
  </div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Computer Science (HND)"
      subtitle="2015 to 2017 at Crown Polytechnic, Ado-Ekiti, Nigeria"
    />
    <TimeLineElement
      title="Computer Science (OND)"
      subtitle="2010 to 2012 at Crown Polytechnic, Ado-Ekiti, Nigeria"
    />
  </div>

  <div class="mb-5">
     <div class="text-3xl w-full font-bold mb-2 bg-[#55D687] text-white p-2">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Senior Front End Engineer(Contact), Qiid Commerce"
      subtitle="From 2022 to 2023, Lagos, Nigeria"
      desc="Leading the frontend engineering in building scalable, responsive, and user-friendly e-commerce application •	Implementation of payment gateways and other e-commerce features, such as shopping carts and wishlists, to enhance the purchasing process. •	Optimization of website load times and overall performance to provide a seamless shopping experience for customers. •	Collaboration with back-end engineers and product managers to deliver new features and improvements to the e-commerce platform. •	Implementation of security measures, such as SSL encryption, to protect customer data and ensure PCI compliance."
    />
    <TimeLineElement
      title="Senior Front End Engineer, Fountainpay payment system"
      subtitle="From 2022 till present, Abuja, Nigeria"
      desc="Collaborated with both the tech and design teams to design, code, test, report and debug operations. •	Took initiative to produce effective product requirements through implementation using ReactJS, Typescript, Redux, Styled components, and Axios. •	Implemented a Dashboard Efficiency React custom hook for tracking interactions and activities in the administrative console •	Implemented and shipped feature to resolve disputes between merchants and customers on Fountainpay payment system. •	Collaborated with the team to implement data encryption & decryption to secure the communication between the client application and the web server."
    />
    <TimeLineElement
      title="Fullstack developer, Etrustfund"
      subtitle="From 2021 to 2022 at Lagos, Nigeria"
      desc="•Designed, Implemented, and shipped a new landing page for the organization. •	Took initiative to produce effective product requirements through implementation using ReactJS, Javascript, Redux, Html, CSS, and Axios. •	Assisted in the development, maintenance, and optimization of new APIs using the modern async approach"
    />
  </div>

  <div class="mb-5">
 
    <div>
      <div class="text-3xl w-full font-bold mb-2 bg-[#55D687] text-white p-2">Certifications</div>
  </div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="" target="_blank">Associate Degree in Computer Science</a>
    </li>
    <li>
      <a href="https://www.linkedin.com/learning/certificates/f685af98a80bce3d0bfefa671e4ebe895e66a031d5b968f6ef38034932d2e25c?trk=backfilled_certificate" target="_blank">
Succeeding in Web Development: Full Stack and Front End</a>
    </li>
  </ul>

  <div class="mb-5">
     <div class="text-3xl w-full font-bold mb-2 bg-[#55D687] text-white p-2">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>English</li>
     <li>HTML</li>
    <li>CSS</li>
    <li>JavaScript</li>
    <li>ReactJS</li>
    <li>NextJS</li>
    <li>Taildwind</li>
     <li>Node.js</li>
    <li>MongoDB</li>
    <li>PHP</li>
    <li>MySQL</li>
    <li>SASS</li>
    <li>Python</li>
    <li>Wordpress</li>
    <li>Git</li>
    <li>Jira</li>
    <li>Clickup</li>
    <li>Adobe Photoshop</li>
  </ul>
</BaseLayout>
